POSTGRES_DB=aqua_drift
POSTGRES_USER=aqua_drift
POSTGRES_PASSWORD=aqua_drift
API_URL=http://api:8000
CURRENT_FIELD_URL=http://current-field:8001
MAX_SLANT_RANGE_YD=6000
OBSERVER_REPLICAS=4
ESTIMATOR_THREADS=2
ESTIMATION_AUTOSTART=true
